.navigation-bar
  %ul
    %li
      %a{href: relativize('http://dhemery.com/')} Dale
    %li
      %a{href: relativize('http://dhemery.com/consulting/')} Consulting
    %li
      %a{href: relativize('http://cwd.dhemery.com/')} Blog
    %li
      %a{href: relativize('http://dhemery.com/articles/')} Articles
    %li
      %a{href: relativize('http://dhemery.com/about/')} About
    %li
      %a{href: relativize('http://dhemery.com/contact/')} Contact
